html,
body {
  margin: auto;
  height: 100%;
  width: 95%;
  font-size: 1.5vmin;
  font-family: Georgia, serif;
  background-color: #ffffff;
  overflow: hidden;
}
.title-box {
  position: relative;
  height: 7.5%;
  width: 100%;
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: #313639;
  margin-bottom: 3px;
  padding-bottom: 3px;
}
.title-box-text {
  display: grid;
  align-content: end;

  background-color: white;
  border-bottom: 1px solid;
  border-bottom-color: #313639;

  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3.5vh;
  text-transform: capitalize;
  font-style: italic;
  text-transform: uppercase;
}
.content-container {
  width: 100%;
  height: 80%;
  display: table;
  padding-top: 10px;
  padding-bottom: 5px;
}
.timeline-contain {
  height: 6vh;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 12px;
  border-top: rgb(141, 143, 145) 2px solid;
    border-bottom: rgb(141, 143, 145) 2px solid;

    margin-bottom: 8px;
}

.timeline-button-before {
  align-items: center;
  text-align: center;
  padding-top: 1.5vh;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-right: rgb(236, 238, 238) 1px solid;
  width: 11.1%;
    background: #0e3e5e;
    color: white;
  /* border-right: 1px solid black; */
  /* background: linear-gradient(
    135deg,
    rgb(250, 250, 250) 55%,
    rgb(245, 251, 255)
  ); */
  cursor: pointer;
}

.timeline-button-before:hover {
    background: #466d88; /* Green */
    color: white;
}

.timeline-button {
    align-items: center;
    text-align: center;
    padding-top: 1.5vh;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-right: rgb(236, 238, 238) 1px solid;
    width: 11.1%;
    /* border-right: 1px solid black; */
    /* background: linear-gradient(
      135deg,
      rgb(250, 250, 250) 55%,
      rgb(245, 251, 255)
    ); */
    cursor: pointer;
}

.timeline-button:hover {
    background: #466d88; /* Green */
    color: white;
}

.timeline-box-text {
  display: table-row;
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}
.vertical-center {
  margin: 0;
  width: 3%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
a {
  text-decoration: none;
  color: black;
}
